body {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* align header to center */
header {
  text-align: center;
}

/* centering the image */
img {
  display: block;
  margin: auto;
}

/* centering nav links */
nav a {
  padding-left: 10px;
  padding-right: 10px;
  /* change their background color */
  background-color: grey;
}

/* center and shrink figcaption text */
figcaption {
  text-align: center;
  font-size: smaller;
}

/* the featured property p's width to 900px */
#featured-property > p {
  width: 900px;
  padding: 5px;
  text-align: center;

  /* make the content of p centered */
  margin: auto;
}

/* making the details div float horizontally to the left */
#details {
  display: flex;
  gap: 2rem;

  /* style the divs  */
  background-color: aqua;
  text-align: center;
}

#details > div {
  width: 45%;
}
